# Ignorar carpetas y archivos de sistema
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
*.swp
*.bak

# Ignorar carpetas de configuración y caché
/.vscode/
/.idea/
/.AppData/
/Contacts/
/Creative Cloud Files/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/IntelGraphicsProfiles/
/Links/
/Music/
/Saved Games/
/Searches/
/Videos/
/VirtualBox VMs/

# Ignorar archivos temporales del sistema
*.blf
*.regtrans-ms
*.tmp
*.bak
*.old

# Ignorar archivos específicos de usuario
NTUSER.DAT*
/EL MOVIMIENTO DEL 68 JIMENA RIVERA.docx
/CANCER JIMENA FERNANDA RIVERA.docx

# Ignorar archivos ejecutables y binarios
*.exe
*.dll
*.so
*.pyc
*.pyo
*.class
*.o
*.a
*.out

# Ignorar carpetas y archivos generados automáticamente
__pycache__/
*.log
*.cache

# Ignorar otros documentos no relevantes
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Asegurarse de incluir tus archivos principales
!bot.py
!requirements.txt
!Procfile.txt
!runtime.txt
!.gitignore
